# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core

# Project ignores (converted from .cvsignore files)
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
RDFSandbox
target
target/classes
example.rdf
ubic.GEOMMTx.mappers.BirnLexMapper.mappings
ubic.GEOMMTx.mappers.DiseaseOntologyMapper.mappings
mmtxProjectJS.jar
*.rdf
*.mappings
null
.externalToolBuilders
build
classes
ontology.index.dir
release.properties
test-classes
